
<div class="sidenav"
[ngClass] = "isLeftSidebarCollapsed() ? 'sidenav-collapsed ' : ''"
>
  <div class = "logo-container">
    <button class="logo" (click)="toggleCollapse()">
      <i class="">QB</i>
    </button>
    @if (!isLeftSidebarCollapsed()){
      <div class="logo-text">Quiz-Bit</div>
      <button class="btn-close" (click)="closeSidenav()">
        <i class="fal fa-times close-icon"></i>
      </button>

    }

  </div>
<div class="sidenav-nav">
  @for (item of items ; track $index){
    <li class="sidenav-nav-item">
      <a
      class="sidenav-nav-link"
      [routerLink] = "item.routeLink"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact : true}"
      >
      <!--ROUTERLINKACTIVEOPTIONS LEY  ACTIVE CLASS PROVIDE GARXA-->
      <i class="sidenav-link-icon" [class] = "item.icon"></i>
      <span class="sidenav-link-text">{{item.label}}</span>

    </a>
    </li>

  }
</div>
</div>
